/* app/styles/Home.module.css */
.container {
    margin: 20px;
}

.formGroup {
    margin-top: 20px;
}

.textarea {
    width: 100%;
    height: 100px;
}

.button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#expertOpinions {
    margin-top: 20px;
}
